
.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (min-width: 200px) and (max-width: 489px) {
    .footer {
        height: 160px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .know-more {
        padding: 0;
    }

    .content-guide .img {
        padding: 0px 0px 0px 0px;
        width: 22%;
    }
}

@media (min-width: 490px) and (max-width: 776px) {
    .footer {
        height: 160px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .know-more {
        padding: 0;
    }
}

@media (min-width: 200px) and (max-width: 490px) {
    .box-one {
        margin: 0px 0px 50px 0px;
    }

    .box-two {
        margin: 0px 0px 50px 0px;
    }

    .box-three {
        margin: 0px 0px 50px 0px;
    }

    .box-for {
        margin: 0px 0px 80px 0px;
    }

    .box-five {
        margin: 0px 0px 80px 0px;
    }

    .box-six {
        margin: 10px 0px;
    }

    .name {
        padding-right: 50px;
        width: 150px;
    }

    .telephone {
        font-size: 10px;
    }
}

@media (min-width: 200px) and (min-width: 399px) {
    .img-1,
    .img-2 {
        margin-left: 30px;
    }
}

@media (min-width: 400px) and (max-width:1000px)  {

    .img-1,
    .img-2 {
       
        margin-right: 50px;
    }

    .name {
        padding-right: 50px;
        width: 150px;
    }


}

@media (min-width: 1001px) {
    .img-1,
    .img-2 {
       
        margin-right: 50px;
    }

    .name {
        padding-right: 50px;
        width: 150px;
    }
}

@media screen and (max-width: 570px) {
    .modal-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog {
        
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    .line-modal {
        border: 1px solid #ccc;
        margin: 1px 0;
        margin-top: 1px;
    }
}

@media (max-width: 776px) {

    .footer-text {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding-right: 15px;
    }

    .footer-logo {
        width: 20%;
    }
}

@media (min-width: 219px) and (max-width: 919px) {

    .footer-text {
        font-size: 10px;
        padding-right: 15px;
    }

    .footer-logo {
        width: 20%;
    }
}

@media (min-width: 920px) and (max-width: 958px) {
    .footer-text {
        padding-right: 5px;
    }
}

@media screen and (min-width: 400px) and (max-width: 860px) {
    .modal-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .modal-dialog {
       
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    .modal-body {
        margin-top: 20px;
    }
}

@media screen and (min-width: 861px) {
    .modal-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .modal-dialog {
       
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    .modal-body {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1232px) {
    .mobile-menu-icon {
        display: flex;
        justify-content: flex-start;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-second {
        display: none;
    }

    .mobile-menu-second.show {
        display: block;
    }

    .mobile-menu.show {
        display: block;
    }

    .modal-body {
        padding: 10px 20px 20px 20px;
    }

    .line-modal {
        border: 1px solid #ccc;
        margin: 5px 0;
        margin-top: 40px;
    }

    .header {
        position: relative;
    }

    nav ul  {
        position: absolute;
        top: 56px;
        right: 0.1%;
        flex-direction: column;
        width: 150px;
        z-index: 999;
    }

    li {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #1B2653;
    }

    .mobile-menu {
        padding-top: 755px;
    }

    .menu li {
        list-style: none;
    }

    .register {
        position: relative;
        display: flex;
        width: 150px;
        margin: 0;
        padding: 26px 15px;
        border-radius: 0px;
        border: none;
        background: #1B2653;
    }
 
}

@media screen and (min-width: 1233px) {

    .header {
        position: relative;
    }

    .register {
        right: 10px;
        position: absolute;
    }

    .li1 {
        right: 335px;
        position: absolute;
        list-style: none;
    }

    .li2 {
        right: 255px;
        position: absolute;
        list-style: none;
    }

    .li3 {
        right: 185px;
        position: absolute;
        list-style: none;
    }


}