.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (min-width: 200px) and (max-width: 490px) {
    .box-one {
        margin: 0px 0px 50px 0px;
    }

    .box-two {
        margin: 0px 0px 50px 0px;
    }

    .box-three {
        margin: 0px 0px 50px 0px;
    }

    .box-for {
        margin: 0px 0px 80px 0px;
    }

    .box-five {
        margin: 0px 0px 80px 0px;
    }

    .box-six {
        margin: 10px 0px;
    }

    .name {
        padding-right: 50px;
        width: 150px;
    }

    .telephone {
        font-size: 10px;
    }
}


@media (min-width: 569px) and (max-width: 400px)  {

    .img-1,
    .img-2 {
       
        margin-right: 50px;
    }

    .name {
        padding-right: 50px;
        width: 150px;
    }


}

@media screen and (max-width: 570px) {
    .modal-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog {
        position: absolute;
        justify-content: center;
        transform: translate(-50%, -50%);
    }

    .line-modal {
        border: 1px solid #ccc;
        margin: 1px 0;
        margin-top: 1px;
    }
}


@media (min-width: 219px) and (max-width: 919px) {

    .footer-text {
        font-size: 10px;
        padding-right: 15px;
    }

    .footer-logo {
        width: 20%;
    }
}

@media (min-width: 920px) and (max-width: 958px) {
    .footer-text {
        padding-right: 5px;
    }
}


@media screen and (min-width: 570px) {
    .modal-content {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog {
        position: absolute;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1095px) {
    .mobile-menu-icon {
        display: flex;
        justify-content: flex-start;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-second {
        display: none;
    }

    .mobile-menu-second.show {
        display: block;
    }

    .mobile-menu.show {
        display: block;
    }

    .modal-body {
        padding: 10px 20px 20px 20px;
    }

    .line-modal {
        border: 1px solid #ccc;
        margin: 5px 0;
        margin-top: 40px;
    }
}