@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: block;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1B2653;
    padding: 0px 20px;
}


.img {
    margin-left: 10px;
}

h4 {
    display: flex;
    flex-direction: column;
    letter-spacing: 1PX;
    color: white;
}

.mobile-menu-icon {
    position: absolute;
    display: none;
    right: 10px;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.mobile-menu {
    left: 0px;
    margin-left: 50px;
    justify-content: flex-end;
}

.mobile-menu-second {
    right: 0px;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
}

.menu {
    display: flex;
    margin-top: 15px;
}

li {
    list-style: none;
}

.menu li a {
    color: white;
    padding: 26px 15px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #FE6613;
}

/*SEGUNDO MENU*/

.menu-second {
    display: flex;
    margin-top: 15px;
}

.menu-second li {
    list-style: none;
}

.menu-second li a {
    color: white;
    padding: 26px 15px;
    text-decoration: none;
}

.menu-second li a:hover {
    background-color: #FE6613;
}

.mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu-second {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

.register {
    width: 120px;
    border-radius: 50px;
    padding: 1px;
    margin: 0px 20px 0px 40px;
    background-color: #1B2653;
    color: white;
    border: 1px solid white;
}

/*FIM HEADER*/


.container1 {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.box-one {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 320px;
    height: 300px;
    padding: 10px;
    border: 1px solid #787878;
    margin: 50px 70px 50px 70px;
    border-radius: 5px;
}

.box-two {
    width: 320px;
    height: 300px;
    padding: 10px;
    border: 1px solid #787878;
    margin: 50px 70px 50px 70px;
    border-radius: 5px;
}

.box-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 300px;
    border: 1px solid #787878;
    margin: 50px 70px 50px 70px;
    border-radius: 5px;
}


.box-for {
    position: relative;
    width: 320px;
    height: 300px;
    margin: 50px 70px 50px 70px;
    border-radius: 5px;
}

.box-five {
    position: relative;
    width: 320px;
    height: 300px;
    margin: 50px 70px 50px 70px;
    border-radius: 5px;
}

.box-six {
    width: 320px;
    height: 300px;
    overflow: hidden;
    margin: 50px 70px;
    border-radius: 5px;
}

.img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid #787878;
    border-radius: 5px;

}

.image-1,
.image-2 {
    width: 100%;
}

.img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid #778788;
    border-radius: 5px;
}

.album {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 130px;
    padding-left: 5px;
    width: 100%;
}

.names {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #1B2653;
}

h1 {
    font-size: 15px;
}

p {
    margin-top: 2px;
    font-size: 10px;
    color: #1B2653;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1B2653;
}

.telephone {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    color: #FE6613;
}

#cpf,
#numbers {
    font-size: 15px;
    height: 30px;
    width: 298px;
    margin: 10px 0px 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #787878;
}

#text {
    padding-bottom: 50px;
    display: flex;
    align-content: end;
    width: 298px;
    height: 80px;
    padding-left: 5px;
    margin: 10px 0px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #787878;
}

#button {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #FE6613;
    background-color: #FE6613;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#calculator {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-right: 42%;
    border-radius: 5px;
    border: 2px solid #FE6613;
    background-color: #FE6613;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#num1,
#num2,
#num3 {
    height: 30px;
    width: 120px;
    border: 1px solid #787878;
    border-radius: 5px;
    padding-left: 5px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100px;
    border-radius: 5px;
}

.line-calculator {
    width: 40px;
    margin: 0px 5px 0px 5px;
    border: none;
    height: 1px;
    background-color: #000;
}

#result {
    height: 30px;
    width: 120px;
    padding-left: 5px;
    border: 2px solid #FE6613;
    border-radius: 5px;
}

.btn-modal {
    position: absolute;
    left: -1px;
    bottom: -50px;
    width: 320px;
    height: 30px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #FE6613;
    border: 1px solid #FE6613;
    color: white;
}

.btn-modal2 {
    position: absolute;
    width: 320px;
    height: 30px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border-radius: 5px;
    background-color: #FE6613;
    border: 1px solid #FE6613;
    color: white;
}

.box-five a {
    text-decoration: none;
    list-style: none;
}

.box-five a:hover {
    font-weight: 400;
    color: white;
}

.btn-modal3 {
    width: 320px;
    height: 30px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #FE6613;
    border: 1px solid #FE6613;
    color: white;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1B2653;
    padding: 0px 20px;
}

.footer-text {
    padding-right: 80px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.know-more {
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.know-more > p {
    padding: 0px 10px;
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.content-guide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-guide > .img {
    padding-right: 60px;
}